<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageDivider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageDivider.Properties.Settings>
            <setting name="SaveFolder" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="UseZeroSuffix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZeroSuffixCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="StartNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Quality" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="UseResize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResizeHeight" serializeAs="String">
                <value>272</value>
            </setting>
            <setting name="ResizeWidth" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="DivideVertical" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DivideHorizontal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DivideNone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RotateType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DivideType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ChangeFileName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSort" serializeAs="String">
                <value>True</value>
            </setting>
        </ImageDivider.Properties.Settings>
    </userSettings>
</configuration>