[user]
	name = a-hirata
	email = hirataakira6@gmail.com
[core]
	editor = atom --wait
	precomposeunicode = true
	quotepath = false
  excludesfile = /Users/a-hirata/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/a-hirata/.stCommitMsg
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	co = checkout
	b = branch
