[user]
  name = a-hirata
  email = hirataakira6@gmail.com
[core]
  editor = code --wait
  precomposeunicode = true
  quotepath = false
  excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[commit]
  template = ~/.stCommitMsg
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  co = checkout
  b = branch
  tree = log --graph --oneline
