<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FileMode>Move</FileMode>
  <ExistingFiles>AppendNumber</ExistingFiles>
  <DeleteMode>RecycleBin</DeleteMode>
  <ColorBackground_Serializable>
    <A>255</A>
    <R>0</R>
    <G>0</G>
    <B>0</B>
  </ColorBackground_Serializable>
  <ColorLabelFront_Serializable>
    <A>255</A>
    <R>128</R>
    <G>128</G>
    <B>128</B>
  </ColorLabelFront_Serializable>
  <ColorLabelBack_Serializable>
    <A>255</A>
    <R>0</R>
    <G>0</G>
    <B>0</B>
  </ColorLabelBack_Serializable>
  <LabelFont_Serializable>
    <FontFamily>Arial</FontFamily>
    <GraphicsUnit>Point</GraphicsUnit>
    <Size>10</Size>
    <Style>Regular</Style>
  </LabelFont_Serializable>
  <ColorTransparentLabels>true</ColorTransparentLabels>
  <CustomMenuColors>true</CustomMenuColors>
  <CustomMenuColorBackground_Serializable>
    <A>255</A>
    <R>45</R>
    <G>45</G>
    <B>45</B>
  </CustomMenuColorBackground_Serializable>
  <CustomMenuColorText_Serializable>
    <A>255</A>
    <R>255</R>
    <G>255</G>
    <B>255</B>
  </CustomMenuColorText_Serializable>
  <CustomMenuColorHighlight_Serializable>
    <A>255</A>
    <R>128</R>
    <G>128</G>
    <B>128</B>
  </CustomMenuColorHighlight_Serializable>
  <CustomMenuColorSelected_Serializable>
    <A>255</A>
    <R>65</R>
    <G>65</G>
    <B>65</B>
  </CustomMenuColorSelected_Serializable>
  <MediumJump>10</MediumJump>
  <LargeJump>25</LargeJump>
  <CloseOnEscape>false</CloseOnEscape>
  <OnDeleteStepForward>true</OnDeleteStepForward>
  <AutoAdvanceInterval>4.5</AutoAdvanceInterval>
  <ActualSizeAutoScroll>true</ActualSizeAutoScroll>
  <ActualSizeAutoScrollDistance>100</ActualSizeAutoScrollDistance>
  <ActualSizeAutoScrollNoLimitInsideForm>false</ActualSizeAutoScrollNoLimitInsideForm>
  <LinearScale>false</LinearScale>
  <FreeZoomSnap>0</FreeZoomSnap>
  <ZoomSteps>5,10,25,50,75,100,125,150,175,200</ZoomSteps>
  <ZoomLimitMaxToWindowSize>false</ZoomLimitMaxToWindowSize>
  <ShowInfoLabel>FullscreenOnly</ShowInfoLabel>
  <ShowModeLabel>AlwaysShow</ShowModeLabel>
  <InfoLabelFormat>(%c / %t) %f</InfoLabelFormat>
  <FullscreenHideCursor>true</FullscreenHideCursor>
  <EnlargeSmallImages>false</EnlargeSmallImages>
  <PreventSleep>false</PreventSleep>
  <KeyFolder_A />
  <KeyFolder_B />
  <KeyFolder_C />
  <KeyFolder_D>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\DOA</KeyFolder_D>
  <KeyFolder_E />
  <KeyFolder_F>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\DOA</KeyFolder_F>
  <KeyFolder_G>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\GUNDAM</KeyFolder_G>
  <KeyFolder_H>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\はがない</KeyFolder_H>
  <KeyFolder_I>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\iM@S</KeyFolder_I>
  <KeyFolder_J>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\ジャンプ</KeyFolder_J>
  <KeyFolder_K>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\艦これ</KeyFolder_K>
  <KeyFolder_L>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\ラブライブ！</KeyFolder_L>
  <KeyFolder_M />
  <KeyFolder_N>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\Nintendo</KeyFolder_N>
  <KeyFolder_O>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\俺の妹がこんなに可愛いわけがない。</KeyFolder_O>
  <KeyFolder_P>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\ポケモン</KeyFolder_P>
  <KeyFolder_Q>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\クイーンズブレイド</KeyFolder_Q>
  <KeyFolder_R />
  <KeyFolder_S>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\閃乱カグラ</KeyFolder_S>
  <KeyFolder_T>\\LS220DE84\psephopaiktes\system\02 FIN\TOHO</KeyFolder_T>
  <KeyFolder_U />
  <KeyFolder_V>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\はがない</KeyFolder_V>
  <KeyFolder_W />
  <KeyFolder_X />
  <KeyFolder_Y />
  <KeyFolder_Z>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\クイーンズブレイド</KeyFolder_Z>
  <KeyFolder_0>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\00 NON</KeyFolder_0>
  <KeyFolder_1>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\00 OTHER_ANIME</KeyFolder_1>
  <KeyFolder_2>\\LS220DE84\psephopaiktes\system\02 FIN\01 PICT2D\00 OTHR_GAME</KeyFolder_2>
  <KeyFolder_3 />
  <KeyFolder_4 />
  <KeyFolder_5 />
  <KeyFolder_6 />
  <KeyFolder_7 />
  <KeyFolder_8 />
  <KeyFolder_9 />
  <AddInRandomOrder>false</AddInRandomOrder>
  <TargetFolder>C:\Users\hirat\Desktop\新しいフォルダー</TargetFolder>
  <ResetViewModeOnPictureChange>true</ResetViewModeOnPictureChange>
  <FormRect_Main>
    <Location>
      <X>-7</X>
      <Y>0</Y>
    </Location>
    <Size>
      <Width>782</Width>
      <Height>841</Height>
    </Size>
    <X>-7</X>
    <Y>0</Y>
    <Width>782</Width>
    <Height>841</Height>
  </FormRect_Main>
  <FormRect_Settings>
    <Location>
      <X>-7</X>
      <Y>417</Y>
    </Location>
    <Size>
      <Width>782</Width>
      <Height>424</Height>
    </Size>
    <X>-7</X>
    <Y>417</Y>
    <Width>782</Width>
    <Height>424</Height>
  </FormRect_Settings>
  <FirstTimeUsing>false</FirstTimeUsing>
  <FullscreenCursorAutoHideTime>3000</FullscreenCursorAutoHideTime>
  <CacheAhead>2</CacheAhead>
  <CacheBehind>1</CacheBehind>
  <Stats_FirstLaunchDate>2016-08-04T17:48:15.4486862+09:00</Stats_FirstLaunchDate>
  <Stats_StartupCount>2</Stats_StartupCount>
  <Stats_LoadedPics>833</Stats_LoadedPics>
  <Stats_RenamedPics>0</Stats_RenamedPics>
  <Stats_MovedPics>106</Stats_MovedPics>
  <Stats_CopiedPics>0</Stats_CopiedPics>
  <Stats_DeletedPics>1</Stats_DeletedPics>
</AppSettings>