<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>80CEB5F2-9210-4C37-BA74-702BAB306F3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EAFBE44-7491-4924-B00F-521C55EF0CF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>soryumi</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Yahoo!Transit</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1EAFBE44-7491-4924-B00F-521C55EF0CF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>yahoo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>function makeitem() {
m1=$(expr $min / 10)
m2=$(expr $min % 10)
cat &lt;&lt;EOB
&lt;item uid="q" arg="http://transit.loco.yahoo.co.jp/search/result?flatlon=&amp;amp;from=${from}&amp;amp;tlatlon=&amp;amp;to=${to}&amp;amp;via=&amp;amp;via=&amp;amp;via=&amp;amp;hh=${hour}&amp;amp;m1=${m1}&amp;amp;m2=${m2}&amp;amp;type=${type}"&gt;
&lt;title&gt;Yahoo!乗換案内(${str})&lt;/title&gt;
&lt;subtitle&gt;出発:${from} 到着:${to} ${str}:${hour}:${min}&lt;/subtitle&gt;
&lt;/item&gt;
EOB
}

query="{query}"
set -- $query
from=$1
to=$2
time=$3

cat &lt;&lt;EOB
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;items&gt;
EOB

hour=$(date '+%H')
min=$(date '+%M')
type=1
str="現時刻発"

makeitem

hour=$(printf "%04s" $time|sed 's/[0-9][0-9]$//')
min=$(printf "%04s" $time|sed 's/^[0-9][0-9]//')
type=4
str="着時刻指定"

makeitem

cat &lt;&lt;EOB
&lt;/items&gt;
EOB</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{出発地} {目的地} {着時刻(省略すると現時刻発)}</string>
				<key>title</key>
				<string>Yahoo!乗換案内</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>80CEB5F2-9210-4C37-BA74-702BAB306F3A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1EAFBE44-7491-4924-B00F-521C55EF0CF8</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>80CEB5F2-9210-4C37-BA74-702BAB306F3A</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
