<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.B82CA842-AC02-4014-B3EA-C844A53370AF</string>
	<key>lightthemeuid</key>
	<string>theme.custom.90083040-307C-4703-8F47-4059C4522C1C</string>
</dict>
</plist>
